# Domain Configuration - Customize for your use case
CHATBOT_ROLE=Your chatbot role
USE_CASE=what your goal is

# Path to PDF file
PDF_PATH=data/your_pdf_file.pdf

# Model Configuration
MODEL_NAME=mistralai/Mistral-7B-Instruct-v0.3
EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2

# Database Configuration
DB_DIR=faiss_db

# Preprocessing Configuration
CHUNK_SIZE=1500
CHUNK_OVERLAP=150

# LLM configuration
RETRIEVAL_K=4
TEMPERATURE=0.3
MAX_TOKENS=512

# Ragas configuration
RAGAS_PDF_PATH=data/your_pdf_for_ragas.pdf
RAGAS_DB_DIR=tests/data/faiss_db
RAGAS_GOLDEN_SET_PATH=tests/data/golden_set.json
RAGAS_RESULTS_DIR=tests/artifacts/ragas
RAGAS_ANSWER_RELEVANCY_THRESHOLD=0.5
RAGAS_FAITHFULNESS_THRESHOLD=0.5
RAGAS_PRECISION_THRESHOLD=0.5
RAGAS_RECALL_THRESHOLD=0.5
RAGAS_ANSWER_RELEVANCY_MIN=0.2
RAGAS_FAITHFULNESS_MIN=0.2
RAGAS_PRECISION_MIN=0.2
RAGAS_ANSWER_RECALL_MIN=0.2
RAGAS_MAX_TOKENS=1024
